<div id="inner_wrapper">
  <div id="main_body" class="column">
	<div id="blank_slate" class="clearfix"></div>
    <div id="screen_body">
      <div id="page_sidebar">
	    <div class="liner">
		  <div class="sidebox_wrapper">
			<div class="liner">
              <div class="sidebox closedbox">
	            <h5>
		          <strong>Other ways to add people</strong>
		        </h5>
                <p>
	              Looking to add multiple people at once?
	            </p>
	            <ul>
		          <li>
			        <a behavior="return_to" href="#">Upload a vCard file</a>
			      </li>
		          <li>
			        <a behavior="return_to" href="#">Import from a CSV file</a>
			      </li>
		          <li>
			        <a behavior="return_to" href="#">Import from an Excel file</a>
			      </li>
		        </ul>
	          </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div id="page"> 
		<div id="page_header_wrapper">
		  <div id="page_header">
            <div class="page_header">
	          <h1>
		        Aggiungi un nuovo dipendente
		      </h1>
	        </div>
		  </div>
		</div>
		<div id="page_contents_wrapper" class="clearfix">
		  <div id="page_main_column" class="column">
			<div class="liner">
		      <%= form_for :employee, :url => employees_path, :html => { :class => :form, :multipart => true } do |f| -%>
		        <%= render :partial => "form", :locals => {:f => f} %>
		      <% end -%>
			</div>
		  </div>  
		</div>
	  </div>
	</div>
	<div style="margin-top: 30px;"></div>		
  </div>
  <div class="column" id="global_sidebar">
    <div class="liner">
      <div id="global_nav">
        <ul>
	      <li>
		    <a class="" href=#>Contatti</a>
		  </li>
	      <li>
		    <a class="" href=#>Aziende</a>
		  </li>
	    </ul>
      </div>
      <div id="recent_items">  
	      <hr>
	      <h4>Usati di recente</h4>
	      <div class="recent_items">
		  </div>
      </div>          
    </div>
  </div>
</div>