<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
	<% for location in @location.nearbys(10) %>
	  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miglia)</li>
	<% end %>
  </ul>
</div>