<h1 class="title" style="float: left">Indirizzi</h1><span style="float: left; margin: 15px"><%= link_to image_tag("web-app-theme/icons/add.png", :alt => "#{t("web-app-theme.add", :default => "Nuovo Indirizzo")}") + " " + t("web-app-theme.add", :default => "Nuovo Indirizzo"), new_customer_location_path(@customer), :class => "button" %></span>

<% @customer.locations.each do |location| %>
  <div class="group" style="clear: both">
    <div class="label" style="width: 20%; float: left;">
       <%= h location.name %>
    </div>
    <div class="label" style="width: 60%; float: left">
       <%= h location.string_address %>
    </div>
    <div class="label" style="float: left">
       <%= link_to "Modifica", edit_customer_location_path(@customer, location) %>
    </div>
  </div>
<% end %>
